.container {
  display: flex;
  flex-direction: column;
}

.matrix-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: blueviolet;
    overflow-y: auto;
  }

.matrix-card {
background-color: #ffffff;
border-radius: 4px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
padding: 10px;
height: 100px;
width: 100px;
}

.matrix-card h3 {
margin-top: 0;
}
.card {
  background-color: brown;
  padding: 5px;
  margin-bottom: 5px;
  cursor: move;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.settings-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.unplaced-cards {
  width: 200px; /* Adjust as needed */
  margin-right: 20px;
}

.matrix-wrapper {
  display: flex;
  flex-direction: column;
}

.matrix-label.top-label {
  align-self: center;
  margin-bottom: 10px;
}

.matrix-content {
  display: flex;
  flex-direction: row;
}

.matrix-label.side-label {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matrix-label.side-label i {
  transform: rotate(180deg);
  margin-top: 10px;
}